@model IEnumerable<MarioKartWeb.ViewModel.GrandPrixViewModel>

@{
    ViewBag.Title = "Grand Prix";
}


<div class="row">
    <div class="col-sm-12">
        <h2>Grand Prix</h2>
    </div>
</div>
<hr />
<div class="row" style="margin-top: 25px;">
    <div class="col-sm-12">
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
    </div>
</div>

<div class="row" style="margin-top: 25px;">
    <div class="col-lg-6">
        <table class="table table-striped table-bordered table-hover dataTables-example dataTable" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info" role="grid">
            <thead>
                <tr>
                    <th style="text-align: center; width:50px;">
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th style="text-align:center; width:50px;">
                        Edit
                    </th>
                    <th style="text-align:center; width:50px;">
                        Details
                    </th>
                    <th style="text-align:center; width:50px;">
                        Delete
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td style="text-align:center;">
                            @Html.DisplayFor(model => item.Name)
                        </td>
                        <td style="text-align:center;">
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-primary" })
                        </td>
                        <td style="text-align:center;">
                            @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-info" })
                        </td>
                        <td style="text-align:center;">
                            @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-danger" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/plugins/dataTables")

    <script>
        $(document).ready(function () {
            $('#DataTables_Table_0').DataTable({
                
            });
        });
    </script>
}

