@model MarioKartWeb.ViewModel.DriverInfoViewModel
@{
    ViewBag.Title = "Detail Driver Information";
}

<div class="row">
    <div class="col-sm-12">
        <h2>Driver information</h2>
    </div>
</div>
<hr />
<div class="row">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfGrandPrixWon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfGrandPrixWon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfPoints)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfPoints)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GrandPrixEntered)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GrandPrixEntered)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TournamentsWon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TournamentsWon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FavoriteTrack)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FavoriteTrack)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FavoriteCar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FavoriteCar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<hr />
<div class="row">
    <div class="col-lg-4">
        <table class="table table-striped table-bordered table-hover dataTables-example dataTable" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info" role="grid">
            <thead>
                <tr>
                    <th style="text-align:center;">
                        Grand Prix Name
                    </th>
                    <th style="text-align:center;">
                        Grand Prix Wins
                    </th>
                    <th style="text-align:center;">
                        Grand Prix Entered
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OverallGrandPrixResults)
                {
                    <tr>
                        <td style="text-align:left; width:150px;">
                            @Html.DisplayFor(model => item.GrandPrixName)
                        </td>
                        <td style="text-align:center; width:150px;">
                            @Html.DisplayFor(model => item.GrandPrixWins)
                        </td>
                        <td style="text-align:center; width:150px;">
                            @Html.DisplayFor(model => item.GrandPrixEntered)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/dataTablesDateTimeSort")

    <script>
        $(document).ready(function () {
            $('#DataTables_Table_0').DataTable({
                paging:   false,
                ordering: false,
                info: false,
                searching: false,
            });
        });
    </script>
}






