@model IEnumerable<MarioKartWeb.ViewModel.DriverInfoViewModel>
@{
    ViewBag.Title = "Drivers Info";
}

<ul class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home") <span class="divider"></span></li>
    <li>Drivers Info</li>
</ul>

<div class="row">
    <div class="col-sm-12 text-center">
        <h2>Drivers 2020</h2>
    </div>
</div>

@*<div class="col-sm-12 text-center" >
    <img src="~/Content/Photos/Players/Donkey.jpg" alt="Driver Photo">
    <img src="~/Content/Photos/Players/Link.jpg" alt="Driver Photo">
</div>

<div class="col-sm-12 text-center">
    <img src="~/Content/Photos/Players/Tanooki.jpg" alt="Driver Photo">
    <img src="~/Content/Photos/Players/Toad.jpg" alt="Driver Photo">
</div>
<div class="col-sm-12 text-center">
    <img src="~/Content/Photos/Players/Roy.jpg" alt="Driver Photo">
</div>*@

<div class="row" style="margin-top: 25px;">
    <div class="col-lg-4">
        <table class="table">
            <thead>
                <tr>
                    <th class="text-center" style="width: 200px">
                        Photo
                    </th>

                    <th class="text-center" style="width: 200px">
                        @Html.DisplayNameFor(model => model.Name)
                    </th>

                    <th class="text-center" style="width: 200px">
                        Driver Details
                    </th>

                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">
                        @if (item.ID == 1)
                        {
                            <img src="~/Content/Photos/Players/bLink.jpg" alt="Driver Photo">
                        }
                        @if (item.ID == 2)
                        {
                            <img src="~/Content/Photos/Players/bDonkey.jpg" alt="Driver Photo">
                        }
                        @if (item.ID == 3)
                        {
                            <img src="~/Content/Photos/Players/bTanooki.jpg" alt="Driver Photo">
                        }
                        @if (item.ID == 4)
                        {
                            <img src="~/Content/Photos/Players/bRoy.jpg" alt="Driver Photo">
                        }
                        @if (item.ID == 5)
                        {
                            <img src="~/Content/Photos/Players/bToad.jpg" alt="Driver Photo">
                        }
                    </td>

                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>

                    <td class="text-center">
                        @Html.ActionLink("Details", "DriverDetails", new { id = item.ID }, new { @class = "btn btn-primary" })

                        @*<a href='@Html.Action("DriverDetails", new { id = item.ID })'>
                                <img src="~/Content/Photos/Players/Donkey.jpg" />
                                <img src="@Url.Content("~/Content/Photos/Players/Donkey.jpg")" />
                            </a>*@
                    </td>

                </tr>
            }

        </table>
    </div>
</div>
