@model MarioKartWeb.Models.Race

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Race</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RaceDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RaceDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TournamentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TournamentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GrandPrixName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GrandPrixName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstPlaceDriver)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstPlaceDriver)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstPlacePosition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstPlacePosition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstPlacePoints)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstPlacePoints)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecondPlaceDriver)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondPlaceDriver)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecondPlacePosition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondPlacePosition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecondPlacePoints)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondPlacePoints)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThirdPlaceDriver)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThirdPlaceDriver)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThirdPlacePosition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThirdPlacePosition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThirdPlacePoints)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThirdPlacePoints)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FourthPlaceDriver)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FourthPlaceDriver)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FourthPlacePosition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FourthPlacePosition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FourthPlacePoints)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FourthPlacePoints)
        </dd>


    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
