@model MarioKartWeb.ViewModel.RaceViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Race</h4>
   
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RaceDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RaceDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TournamentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TournamentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GrandPrixName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GrandPrixName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Driver)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Driver)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
</p>
